</div class="col-md-10 col-md-offset-1">
    <div class="jumbotron text-center">
      <h2>Hello <%= current_user.name %></h2>
      <p class="lead">Welcome to Contact Manager App</p>
      <p>
        <%= link_to "Manager Your Contacts", contacts_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
</div>
<!--
<div class="owl-carousel owl-theme">

</div> -->

<div class="container-fluid">
<div class="jumbotron">
  <div class="row">

    <div class="col-lg-12">

      <div id="main-slider" class="owl-carousel owl-theme">
        <% @contacts.each do |contact| %>
          <div>
            <%= image_tag contact.avatar.url(:medium) %>
            <h4 align="center"><%= link_to contact.name, contacts_path %></h4>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</div>
</div>
