



<!-- <div class="row">
  <div class="col-md-6">
    <%#= image_tag(@meme.picture_url, width: '40%') if @meme.picture.present? %>
    <%#= image_tag @contact.avatar.url(:medium) %>
    <p><b>Name: </b><%#= @contact.name %></p>
    <p><b>Company: </b><%#= @contact.company %></p>
    <p>
      <%#= link_to 'Edit', edit_meme_path(@meme) %> 
      <%#= link_to 'Destroy', @meme, data: { confirm: 'Are you sure?' }, method: :delete %> 
      <%#= link_to 'Back', dashboard_index_path, class: "btn btn-default btn-lg" %>
    </p>
  </div> -->

    <%= render 'formshow' %>
