</div class="col-md-10 col-md-offset-1">
    <div class="jumbotron text-center">
      <h2>404</h2>
      <p class="lead">Sorry the contact cannot be found</p>
      <p>
        <%= link_to "Go back to your Contacts", contacts_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
</div>
