/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jasny-bootstrap.min
 *= require bootstrap-datepicker
 *= require jquery-ui
 *= require jquery-ui/autocomplete
 *= require jquery-ui/menu
 *= require jquery-ui/datepicker
 *= require toastr
 *= require owl.carousel
 *= require owl.theme.default
 *= require font-awesome
 *= require timepiece
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "timepiece";


body {
	padding-top: 70px;
	background: #eee;
	/*background: #222 -webkit-radial-gradient(50% 0, ellipse farthest-corner, #444 0%, #222 100%)*/
}

.navbar {
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

.navbar .navbar-brand {
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 20px;
	color: #dd5638;
}

.navbar-right {
	margin-right: 0;
}

.table tbody>tr>td.middle {
	vertical-align: middle;
}

.media {
	padding: 10px 0;
}

.media img, .fileinput .thumbnail, .thumbnail img {
	border-radius: 50%;
}

.media-left {
	padding: 0 20px;
}

.media-heading {
	color: #dd5638;
	margin-bottom: 10px;
}

.media-body {
	padding-top: 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/*.panel-footer.message{
	border-top:	0px;
}*/

.alert-warning{
	margin-bottom: 0;
}

.ui-autocomplete{
	position: relative;
	cursor: default;
	z-index: 9999 !important;
	width: 196px;
}

.ui-helper-hidden-accessible{
	display: none;
}

.jumbotron{
	background: #f7f7f7;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #222;
		border-color: #222;
    color: white;
}

/*.flex-container {
  display: flex;
  justify-content: center;
  height: 100px;
  flex-wrap: wrap;
}*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.id-link {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.id-link:hover {
  opacity: 0.7;
}

/*sidebar*/

 .sidebar {
     position: fixed;
     width: 230px;
     height: 100%;
     background: #222 -webkit-radial-gradient(50% 0, ellipse farthest-corner, #444 0%, #222 100%);
     z-index: 1; 
     top: 0;
    left: 0;
    padding-top: 80px;
    padding-left: 70px;
 }


 .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #dd5638;
    display: block;
 }
 .content {
     margin-left: 120px;
     height: 500px;
     width: 90%;
     position: relative;
     background: #A239 !important;
     /*overflow: auto;*/
     z-index: 1;
 }
 .info {
     width: 100%;
     /*height: 300px;*/
     position: relative;
     background: green !important;
     padding-left: 15px;
     padding-right: 15px;
 }

/*flex*/

.form-group{
    background: #d0d0e1;
}


.wrapper {
  display: -webkit-flex;
  display: flex;
  flex-direction: column; 
}
.wrapper > div {
  /*font-size: 2vh;*/
  /*color: white;*/
  background: gray;
  /*background: #F1F1F1;*/
  margin: .1em;
  padding: .1em;
  border-radius: 3px;
  /*flex: 1;*/
}

.initial {
  -webkit-flex: initial;
          flex: initial;
  width: 25%;
  text-align: left;
}
.none {
  -webkit-flex: none;
          flex: none;
}
.flex1 {
  -webkit-flex: 1;
          flex: 1;
          align-items: stretch;
          flex-flow: column-reverse wrap;

}
.flex2 {
  -webkit-flex: 2;
          flex: 2;

  background: #8C8C8C;
  /*background: #F1F1F1;*/
  margin: .1em;
  padding: .1em;
  border-radius: 3px;
}

.panel-body{
  padding-bottom: 6% !important;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}


.Aligner-l {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-flow: row wrap;
}

/*.container * {
  box-sizing: border-box;
}*/


/*section
 means that the content inside is grouped (i.e. relates to a single theme), 
 and should appear as an entry in an outline of the page.
 */



header{
  max-width: 1140px; 
  background: orange !important;
}

main {
  display: flex;
  max-width: 1060px;
  height: 80%;
  background: violet !important;
  justify-content: space-between;
}


section {
  flex: 1 1 10em;
  background: red !important;
}

aside {
  flex: 2 2 20em;
  background: blue !important;
  /*padding: 10px;*/
}

nav {
  flex-grow: 1;
}

.mainbox{
  display: flex;
  /*flex-flow: column-reverse wrap;*/
  max-width: 90%;
}

.box1{
  flex-grow: 1;
}

.box2{
  flex-grow: 2;
}

.box3{
  flex-grow: 2;
}

.box4{
  flex-grow: 1;
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


